In [2]:
import folium
import pandas as pd

In [3]:
data=pd.read_csv("Volcanoes.txt")

In [4]:
data.head()

,VOLCANX020,NUMBER,NAME,LOCATION,STATUS,ELEV,TYPE,TIMEFRAME,LAT,LON
0,509.0,1201-01=,Baker,US-Washington,Historical,3285.0,Stratovolcanoes,D3,48.776798,-121.810997
1,511.0,1201-02-,Glacier Peak,US-Washington,Tephrochronology,3213.0,Stratovolcano,D4,48.111801,-121.111000
2,513.0,1201-03-,Rainier,US-Washington,Dendrochronology,4392.0,Stratovolcano,D3,46.869801,-121.751000
3,515.0,1201-05-,St. Helens,US-Washington,Historical,2549.0,Stratovolcano,D1,46.199799,-122.181000
4,516.0,1201-04-,Adams,US-Washington,Tephrochronology,3742.0,Stratovolcano,D6,46.205799,-121.490997

In [10]:
data.groupby("STATUS").count()

,VOLCANX020,NUMBER,NAME,LOCATION,ELEV,TYPE,TIMEFRAME,LAT,LON
STATUS,,,,,,,,,
Anthropology,3,3,3,3,3,3,3,3,3
Dendrochronology,3,3,3,3,3,3,3,3,3
Historical,5,5,5,5,5,5,5,5,5
Holocene,5,5,5,5,5,5,5,5,5
Holocene?,15,15,15,15,15,15,15,15,15
Pleistocene-Fumarolic,3,3,3,3,3,3,3,3,3
Radiocarbon,21,21,21,21,21,21,21,21,21
Tephrochronology,6,6,6,6,6,6,6,6,6
Varve Count,1,1,1,1,1,1,1,1,1

In [18]:
data['TIMEFRAME'].unique()

array(['D3', 'D4', 'D1', 'D6', 'D7', '?', 'D2', 'U', 'Q'], dtype=object)

In [7]:
import folium
import pandas as pd

map1=folium.Map([38,-100],zoom_start=6,tiles="Mapbox Bright")

data=pd.read_csv("Volcanoes.txt")
lat=list(data["LAT"])
lon=list(data["LON"])

fg=folium.FeatureGroup(name="my_map")
for lt,ln in zip(lat,lon):
    fg.add_child(folium.Marker(location=[lt,ln],popup="My car is here",icon=folium.Icon("green")))
map1.add_child(fg)
map1.save("map1.html")